<ion-view view-title="Login">
    <ion-content>
        <ion-list>
            <ion-item class="item item-button-right">
                Take a Pic
                <button class="button button-positive" ng-click="takepic()">
                    <i class="icon ion-ios-camera"></i>
                </button>
            </ion-item>
            <ion-item class="item item-body">
                <video ng-src="{{videourl}}" id="video" autoplay controls></video>
            </ion-item>
            <ion-item class="item item-body">
                <div id="output">
                    <h2>Metadata</h2>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
