<ion-view view-title="" hide-nav-bar="true">
    <ion-content style="background-color: rgba(255, 201, 0, 0.7);">
    </ion-content>
    <div style="position: absolute; bottom: 0px; width: 100%">
        <div class="list">
            <div class="item text-center assertive-bg" style="color: #fff;padding-top: 30px;padding-bottom: 30px;font-size: 36px;">
                Login
            </div>
            <div class="item text-center positive-bg" style="color: #fff;padding-top: 30px;padding-bottom: 30px;font-size: 36px;">
                Sign up
            </div>
        </div>
    </div>
</ion-view>
