<ion-view view-title="Dashboard">
    <ion-content>
        <div class="list">
            <a class="item item-icon-right">
              <i class="icon ion-ios-arrow-right"></i>
                Custom Camera
            </a>
            <a class="item item-icon-right" href="#/account">
              <i class="icon ion-ios-arrow-right"></i>
                Snapchat View
            </a>
            <a class="item item-icon-right" href="#/chats">
              <i class="icon ion-ios-arrow-right"></i>
                Snapchat View 2
            </a>
        </div>
    </ion-content>
</ion-view>
