<ion-view view-title="" hide-nav-bar="true" class="chat">
  <ion-content>
    <div class="controls">
      <div class="block">
        <button id="startCameraButton">Start Camera at back</button>
        <button id="stopCameraButton">Stop Camera</button>
      </div>

      <div class="block">
        <p>
          <button id="startCameraAnotherPosButton">Start Camera at front</button>
        </p>

        <p>Color Effect:
          <select id="colorEffectCombo">
            <option selected value="none">none</option>
            <option value="aqua">aqua</option>
            <option value="blackboard">blackboard</option>
            <option value="mono">mono</option>
            <option value="negative">negative</option>
            <option value="posterize">posterize</option>
            <option value="sepia">sepia</option>
            <option value="solarize">solarize</option>
            <option value="whiteboard">whiteboard</option>
          </select>
        </p>
      </div>
      <div class="block">
        <button id="takePictureButton">Take Picture</button>
        <button id="switchCameraButton">Switch Camera</button>
      </div>
      <div class="block">
        <button id="hideButton">Hide</button>
        <button id="showButton">Show</button>
      </div>
    </div>
    <div class="pictures">
      <p><img id="previewPicture" width="200" /></p>
      <p><img id="originalPicture" width="200" /></p>
    </div>
  </ion-content>
</ion-view>
