<ion-view view-title="" hide-nav-bar="true" class="pane2">
    <ion-content>
    </ion-content>
    <div style="position: absolute; bottom: 0px; width: 100%">
        <div class="list">
            <div class="item text-center assertive-bg" style="color: #fff;padding-top: 30px;padding-bottom: 30px;font-size: 36px;" id="login">
                Login
            </div>
            <div class="item text-center positive-bg" style="color: #fff;padding-top: 30px;padding-bottom: 30px;font-size: 36px;" id="signup">
                Sign up
            </div>
        </div>
    </div>
</ion-view>
